# Configuración de la aplicación
APP_PORT=8081
SPRING_PORT=8080

# Configuración de la base de datos
DB_HOST=db
DB_PORT=5432
DB_NAME=your_database_name
DB_USER=your_username
DB_PASSWORD=your_password

# Puerto expuesto de PostgreSQL
POSTGRES_PORT=5434

# Configuración de JWT
JWT_SECRET=your_jwt_secret 